{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>Registrar Cliente</h1>

    {{ form_start(form) }}
    
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Nombre:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.nombreCL, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nombreCL) }}
                        </div>
                </div>


                <div class="form-group row">
                    <label class="control-label col-md-3">Apellido Paterno:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.appatCL, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.appatCL) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Apellido Materno:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.apmatCL, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.apmatCL) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Calle:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.calle, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.calle) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Numero Exterior:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.noExt, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.noExt) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Numero Interior:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.noInt, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.noInt) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Colonia:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.colonia, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.colonia) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Delegacion:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.delegacion, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.delegacion) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Telefono:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.telefono) }}
                        </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3">Correo:</label>
                        <div class="col-md-9">
                            {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.correo) }}
                        </div>
                </div>

                <div class="container">
                    <div class="form-group row">
                        <div class="col-md-2 col-md-offset-2">
                            {{ form_widget(form._token) }}
                            <button class="btn btn-primary">Regresar</button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="btn btn-success">Registrar</button>
                        </div>
                    </div>
                </div>                

            </form>

    </section>
{% endblock %}
