{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>cliente</h1>

<div class="table-responsive"> 
    <table class="table table-bordered record_properties">
        <tbody>
            <tr>
                <th class="active">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th class="active">Nombrecl</th>
                <td>{{ entity.nombreCL }}</td>
            </tr>
            <tr>
                <th class="active">Appatcl</th>
                <td>{{ entity.appatCL }}</td>
            </tr>
            <tr>
                <th class="active">Apmatcl</th>
                <td>{{ entity.apmatCL }}</td>
            </tr>
            <tr>
                <th class="active">Calle</th>
                <td>{{ entity.calle }}</td>
            </tr>
            <tr>
                <th class="active">Noext</th>
                <td>{{ entity.noExt }}</td>
            </tr>
            <tr>
                <th class="active">Noint</th>
                <td>{{ entity.noInt }}</td>
            </tr>
            <tr>
                <th class="active">Colonia</th>
                <td>{{ entity.colonia }}</td>
            </tr>
            <tr>
                <th class="active">Delegacion</th>
                <td>{{ entity.delegacion }}</td>
            </tr>
            <tr>
                <th class="active">Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th class="active">Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
        </tbody>
    </table>
</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </section>
{% endblock %}
