{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>proveedores edit</h1>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form.regimenT, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.regimenT) }}

    {{ form_widget(edit_form.rfc, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.rfc) }}

    {{ form_widget(edit_form.telefono, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.telefono) }}

    {{ form_widget(edit_form._token) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('proveedores') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </section>
{% endblock %}
