{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>proveedores creation</h1>

    {{ form_start(form) }}

    {{ form_widget(form.regimenT, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.regimenT) }}

    {{ form_widget(form.rfc, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.rfc) }}

    {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.telefono) }}

    {{ form_widget(form._token) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('proveedores') }}">
            Back to the list
        </a>
    </li>
</ul>
    </section>
{% endblock %}
