{% extends '::base.html.twig' %}

{% block body -%}
    <h1>proveedores</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Regiment</th>
                <td>{{ entity.regimenT }}</td>
            </tr>
            <tr>
                <th>Rfc</th>
                <td>{{ entity.rfc }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('proveedores') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('proveedores_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
