{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>productos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreprod</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Fechaentrega</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('productos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombreProd }}</td>
                <td>{{ entity.costo }}</td>
                <td>{{ entity.precio }}</td>
                <td>{% if entity.fechaEntrega %}{{ entity.fechaEntrega|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('productos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('productos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('productos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </section>
    {% endblock %}
