{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>productos creation</h1>

    {{ form_start(form) }}

    {{ form_widget(form.nombreProd, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.nombreProd) }}

    {{ form_widget(form.costo, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.costo) }}

    {{ form_widget(form.precio, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.precio) }}

    {{ form_widget(form.fechaEntrega, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.fechaEntrega) }}

    {{ form_widget(form.proveedores, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.proveedores) }}

    {{ form_widget(form._token) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('productos') }}">
            Back to the list
        </a>
    </li>
</ul>
    </section>
{% endblock %}
