{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>citas creation</h1>

    {{ form_start(form) }}

    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.date) }}

    {{ form_widget(form.motivo, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
    {{ form_errors(form.motivo) }}

    {{ form_widget(form.costo, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
    {{ form_errors(form.costo) }}

    {{ form_widget(form.cliente, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
    {{ form_errors(form.cliente) }}

    {{ form_widget(form.mascota, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
    {{ form_errors(form.mascota) }}

    {{ form_widget(form.mvz, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
    {{ form_errors(form.mvz) }}

    {{ form_widget(form._token) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('citas') }}">
            Back to the list
        </a>
    </li>
</ul>
    </section>
{% endblock %}
