{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>medicamentos edit</h1>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form.nombreMed, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.nombreMed) }}

    {{ form_widget(edit_form.fechaCad, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.fechaCad) }}

    {{ form_widget(edit_form.tipoMed, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.tipoMed) }}

    {{ form_widget(edit_form.costo, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.costo) }}

    {{ form_widget(edit_form.precio, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.precio) }}

    {{ form_widget(edit_form.proveedores, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.proveedores) }}

    {{ form_widget(edit_form._token) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('medicamentos') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </section>
{% endblock %}
