{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>ventas edit</h1>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form.fechaSalida, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.fechaSalida) }}

    {{ form_widget(edit_form.cantidad, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.cantidad) }}

    {{ form_widget(edit_form.total, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.total) }}

    {{ form_widget(edit_form.cliente, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.cliente) }}

    {{ form_widget(edit_form.mvz, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.mvz) }}

    {{ form_widget(edit_form.medicamentos, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.medicamentos) }}

    {{ form_widget(edit_form.productos, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(edit_form.productos) }}

    {{ form_widget(edit_form._token) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ventas') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </section>
{% endblock %}
