{% extends '::base.html.twig' %}

{% block body -%}
    <section class="posts col-md-9">
        <h1>ventas list</h1>

 <div class="table-responsive">
    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechasalida</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ventas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaSalida %}{{ entity.fechaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.cantidad }}</td>
                <td>{{ entity.total }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ventas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ventas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        <ul>
        <li>
            <a href="{{ path('ventas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </section>
    {% endblock %}
